.wpbdp-listing-excerpt .listing-favorite-btn {
  float: right;
  clear: both;
}
.wpbdp-listing-excerpt .listing-favorite-btn .btn {
  z-index: 2;
}
.wpbdp-listing-excerpt .listing-favorite-btn .btn-group {
  margin: 10px;
}
.wpbdp-listing-excerpt .listing-favorite-btn .default.btn {
  color: #ccc;
}
.wpbdp-listing-excerpt.odd .field-value.content,
.wpbdp-listing-excerpt.even .field-value.content {
  background: transparent;
}
/* hide categories they are on separate page */
.wpbdp-page-content #wpbdp-categories {
  display: none;
}
/* hide everything on categories page except categories */
#business-directory-categories .wpbdp-bar,
#business-directory-categories #wpbdp-view-listings-page {
  display: none;
}
#business-directory-categories #wpbdp-categories {
  display: block;
}
/* hide view listing/directory buttons; redundant */
#wpbdp-bar-view-listings-button,
#wpbdp-bar-show-directory-button {
  display: none;
}
#wpbdmsearchform #intextbox {
  margin-bottom: 0;
}
